*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  height: 25%;
  width: 25%;
}
.img-container {
  text-align: center;
}
h2 {
  text-align: center;
  font-family: sans-serif;
  font-weight: 100;
}
.value {
  text-align: center;
}
input {
width: 25%;
padding: 15px;
border: 3px solid white;
border-radius: 25%;
box-sizing: border-box;
font-weight: 900;
margin-top: 6px;
margin-bottom: 16px;
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
button {
margin: 10px;
  border: 1px solid white;
  color: white;
  margin-bottom: 20px;
  padding: 5px 15px;
  border-radius: 10%;
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
font-weight: 900;
}
.container {
  padding: 5px;
  margin: 5px;
}
.contain {
  text-decoration: none;
  padding: 5;
  margin: 5;
  width: 5%;
  border: black;
}